<div class="menu">
    <ul>
        <li><img class="user" src="../../../../assets/icons/login-user.png" alt="menu" /></li>
        <li class="active"><img src="../../../../assets/icons/icon-calendar.png" alt="calendar" /></li>
        <li><img src="../../../../assets/icons/icon-user.png" alt="user" /></li>
        <li><img src="../../../../assets/icons/icon-doctor.png" alt="doctor" /></li>
        <li><img src="../../../../assets/icons/icon-message.png" alt="message" /></li>
        <li><img src="../../../../assets/icons/doc-appointment.png" alt="message" /></li>
        <li><img src="../../../../assets/icons/icon-settings.png" alt="settings" /></li>
    </ul>
    <a class="logo">
        <img alt="voyager" src="../../../../assets/images/voyager.png" />
    </a>
</div>