$white: #fff;

$vca-blue: #046B99;
$vca-light-blue: #699fda;
$yellow: #FFDD57;
$red: #E8666C;
$orange: #F8AB63;
$green: #87C97F;
$aqua: #B4DDE5;
$teal: #6DDAC3;
$pink: #eb92ba;
$dark-grey: #4A4A4A;
$medium-grey: #ADADAD;
$medium-light-grey: #989898;
$light-grey: #F9F9F9;
$white: #FFFFFF;
$iceberg: #d4eff3;
$background-color: #eeeff3;
$table-header: #eaeaea;
$light-blue: #f4f8fa;
$border-color: #d4dbe1;
