.container{
    width:320px;
    height:120px;
    padding : 0;
    border:none;
    box-shadow: 0  10px 20px rgba(0,0,0,0.15);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    overflow: hidden;
    position:absolute;
    right:0;
    bottom:50;
    z-index:100;
    bottom:20px;
    font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif", "-apple-system", "BlinkMacSystemFont";
}

#screen2{
    border-radius: 0;
}

.clientName {
    font-weight: 500;
}

.phoneNumber {
    font-size: 11px!important;
}

.top, 
.bottom{
    width: 100%;
    height: 64px;
    display: flex; 
    background: #ffffff;
}
.top{
    
    background: #0E9C4F; /* #0e9c4f; */
    
    
}


.picture{
    width:48px;
    height: 48px;
    border-radius: 50%;
    margin-left: 18px;
    margin-top: 7px; 
  /*  background-color:  #0078F0; */ /* #0c8744; */
    background: rgba(0, 0, 0, 0.12);
}
#displayPic{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.name {
    color: #fff;
}

.name p{
    font-size: 14px;
    color: white;
    line-height: 18px;
    font-weight: normal;
    font-style: normal;
    margin:0;
    margin-top: 3px;
}

.name, .name2{
    margin-top:10px;
    margin-left: 18px;
}

.name2{
    margin-top:20px;
    margin-left: 10px;
    margin-right: 100px;
}

.verticle-line{
    background: #0C8744; /* #0c8744;  */
    height: 40px;
    width: 1px;
    margin-top:12px;
    position:relative;
    right: -30px;
}

.verticle-line1{
    
    margin-top:16px;
    position:relative;
    left: 13px;
}

.bottom div{
    width:77px;
    height: 100%;
}

.bottom div img{
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#screen2{
    display: none;
    height: 64px;
    width:400px;
}

.name2 p{
    font-size: 14px;
    color: white;
    line-height: 18px;
    font-weight: normal;
    font-style: normal;
    margin:0;
    margin-top: 3px;
    
}


.circle-ripple {
      width: 1px;
    height: 1px;
    border-radius: 50%;
    -webkit-animation: ripple 0.7s linear infinite;
    animation: ripple 0.7s linear infinite;
    margin-top: -12px;
    margin-left: 12px;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(#65ff78, 0.3),
                0 0 0 1em rgba(#65ff78, 0.3),
                0 0 0 3em rgba(#65ff78, 0.3),
                0 0 0 5em rgba(#65ff78, 0.3);
  }
  100% {
    box-shadow: 0 0 0 1em rgba(#65ff78, 0.3),
                0 0 0 3em rgba(#65ff78, 0.3),
                0 0 0 5em rgba(#65ff78, 0.3),
                0 0 0 8em rgba(#65ff78, 0);
  }
}


.call{
    padding:0;
    position:absolute;
    top:5px;
    bottom:18px;
    right: 15px;
    
    height: 28px;
}

.call img{
        width: 32px;
    margin-top: 12px;
    margin-right: 10px;
}

.call-dec p{
    font-size: 11px;
    color: white;
    line-height: 18px;
    font-weight: normal;
    font-style: normal;
    margin-top: 23px;
    margin-left: 10px;
    
}

.call-dec{
    display: flex;
}

.call-dec img{
    width:100%;
    height:50%;
    margin-top: 16px;
}

.cross{
    display: relative;
    height:12px;
    margin-left:35px;
    margin-top:26px;
    
}

.cross img{
    height: 100%;
    
}